* { margin: 0; padding: 0;  }

body { margin: 0; padding: 0; font-family: Georgia, sans-serif; }

.shall { width: 965px; margin: 107px 150px 0; }

.section_main h1 { color:#b92929; font-size: 50px; margin: 17px 0; }
.section_content h2, h3, h4, h5, h6 { margin: 20px 0; }


.section_content h2 { color: #2b6f17; font-size: 30px; }
.section_content h2 a { color: #1659b3; }

.section_content h4, h5, h6 { color: #666666; }

.section_content p { font-size:15px; }

.section_content p a { color: #1659b3; }

<<<<<<< HEAD
p { line-height: 24px; }

ul { margin-left: 15px; padding-left:15px; }

ol { margin-left: 15px; padding-left:15px; }

ul.dashed { list-style-type: none; }

ul.dashed li { text-indent: -5px; }

ul.dashed li:before { content: "-"; text-indent: -5px; }

ul.tick { list-style-type: none; }

ul.tick li { text-indent: -5px; }

ul.tick li:before { content: ">"; text-indent: -5px; }
=======
.section_content ul ol { margin-left:20px; }

.section_content, .dash-list, .tik-list { list-style: none;  }

.dash-list ul { font-style: italic; }
.section_content .dash-list li { text-indent:-5px; }
.section_content .dash-list li::before { content: "-"; text-indent: -5px; }

.section_content .tik-list { margin-left:20px; font-weight: 700; }
.section_content .tik-list li { text-indent:-5px; }
.section_content .tik-list li::before { content: ">"; text-indent: -5px; }

.section_footer { text-align: center; font-size:15px; }

.section_footer span p { font-style: italic; margin-top:20px;}

>>>>>>> d6b9f41379c3ba9233acb7a4122d515c4dbf84c9
